.varouselDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: green;
    overflow: hidden;
    border-radius: 3px;
}

.li-img {
    width: 100%;
    height: auto;
}

.leftButton {
    position: absolute;
    top: 45%;
}

.rightButton {
    position: absolute;
    top: 45%;
    right: 0
}

@-webkit-keyframes left-hide {
    from {
        margin-left: 0
    }
    to {
        margin-left: -100%;
    }
}

@-webkit-keyframes left-show {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}

@-webkit-keyframes right-hide {
    from {
        margin-left: 0
    }
    to {
        margin-left: 100%;
    }
}

@-webkit-keyframes right-show {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}

.left-animation {
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.left-animation .ng-hide-add {
    animation: left-hide 1s;
}

.left-animation .ng-hide-remove {
    animation: left-show 1s;
}

.right-animation {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.right-animation .ng-hide-add {
    animation: right-hide 1s;
}

.right-animation .ng-hide-remove {
    animation: right-show 1s;
}

.swiperbut {
    animation: swiperbutton 1s;
}

@-webkit-keyframes swiperbutton {
    from {
        opacity: 0
    }
    to {
        opacity: 0
    }
}

.swipersDiv {
}

.swipersDiv ul {
    padding: 0px;
}

.swipersDiv ul li {
    list-style: none;
}

.swiperDiv .swiper-container {
    border-radius: 5px;
}

.new-swper {
    width: 100%;
    height: 100%;
}

.new-swper ul {
    width: 100%;
    height: 100%;
    padding: 5px 0px;
}

.new-swper ul li {
    width: 100%;
    float: left;
    height: 28px;
    list-style: none;
}