<style>
    .navdiv {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .nav-left {
        width: 240px;
        height: 100%;
    }

    .nav-left label {
        width: 100%;
        height: 100%;
        font-size: 30px;
        line-height: 60px;
        padding-left: 10px;
        color: white;
        font-weight: bold;
    }

    .nav-center {
        width: calc(100% - 540px);
        width: -webkit-calc(100% - 540px);
        width: -moz-calc(100% - 540px);
        height: 100%;
    }

    .nav-center ul {
        height: 65px;
        margin-bottom: 0px;
        display: flex;
        list-style-type: disc;
        list-style: none;
    }

    .nav-center ul li {
        padding: 10px 30px;
        text-align: center;
        line-height: 70px;
        list-style-type: none;
        margin-bottom: 5px;
        transform: 0.1s all linear;
        -webkit-transform: 0.1s all linear;
        -moz-transform: 0.1s all linear;
        cursor: pointer;
        position: relative;
    }

    .nav-center ul li::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        border-bottom: 1px solid white;
        transform: 0.2s all linear;
        -moz-transform: 0.2s all linear;
        -webkit-transform: 0.2s all linear;
    }

    .nav-center ul li:hover:before {
        width: 100%;
        top: 0px;
        left: 0px;
        transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        border-bottom-color: white;
    }

    .nav-center ul li:hover ~ .nav-center ul li::before {
        left: 0px;
    }

    .nav-center ul li:active {
        border-bottom-color: white;
    }

    .nav-center ul li label {
        margin-bottom: 0px;
        color: lightblue;
        font-size: 16px;
        font-weight: 500;
    }

    .nav-center ul li:hover label {
        color: white;
    }

    .nav-right {
        width: 300px;
        height: 100%;
    }

    .nav-selected {
        color: white;
        border-bottom: 1px solid white;
        transform: 0.2s all linear;
        -moz-transform: 0.2s all linear;
        -webkit-transform: 0.2s all linear;
    }

    .nav-selected label {
        color: white !important;
    }
</style>
<div class="navdiv" ng-init="ininMe()">
    <div class="nav-left">
        <label>{{bolgName}}</label>
    </div>
    <div class="nav-center">
        <ul>
            <li ng-repeat="nav in navslist"
                ng-class="{true:'nav-selected',false:''}[currentParem.moduleCode==nav.moduleCode]"
                ng-click="navClick(nav)">
                <label ng-bind="nav.title"></label>
            </li>
        </ul>
    </div>
    <div class="nav-right"></div>
</div>