<div class="main-full">
    <div class="video-full scroll">
        <div class="video-left"></div>
        <div class="video-right">
            <div class="video-right-first">
                <div class="div-video">
                    <div class="div-video-top">
                        <label ng-bind="currentVideo.Text"></label>
                    </div>
                    <div class="div-video-body">
                        <video id="myVideo" class="video-js vjs-default-skin"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>