<div class="main-full scroll">
    <div class="main-first">
        <div class="first-left">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center">图片</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <div class="tab-but"></div>
                    <div class="tab-center" style="text-align:right;">>>更多</div>
                    <div class="tab-right"></div>
                </div>
            </div>
            <div class="center-div"></div>
        </div>
        <div class="first-center">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center">图片</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <div class="tab-but"></div>
                    <div class="tab-center" style="text-align:right;">>>更多</div>
                    <div class="tab-right"></div>
                </div>
            </div>
            <div class="center-div"></div>
        </div>
        <div class="first-right">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center">图片</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <div class="tab-but"></div>
                    <div class="tab-center" style="text-align:right;">>>更多</div>
                    <div class="tab-right"></div>
                </div>
            </div>
            <div class="center-div"></div>
        </div>
    </div>
    <div class="main-second"></div>
    <div class="main-third"></div>
</div>