<div class="main-full scroll" ng-init="initMe()">
    <div class="main-first">
        <div class="first-left">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center">图片</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="newView()">>>更多</label>
                </div>
            </div>
            <div class="center-div swipersDiv" style="padding:3px 5px;background-color:lightyellow">
                <swipers disable-on-interaction='false' class="pic" data="slides"></swipers>
            </div>
        </div>
        <div class="first-center">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center" ng-click="conform()">文章</div>
                    <div class="tab-right">
                    </div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="redirect('blog',3)">>>更多</label>
                </div>
            </div>
            <div class="center-div">
                <news-rolling disable-on-interaction='false' id='newsId' data='news'></news-rolling>
            </div>
        </div>
        <div class="first-right">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center" ng-click="error()">视频</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="redirect('move',4)">>>更多</label>
                </div>
            </div>
            <div class="center-div"></div>
        </div>
    </div>
    <div class="main-second">
        <div class="second-top">
            <div class="title-div">
                <div class="title-left">
                    <div class="circle-title" style="border: 1px solid white;background-color: white"></div>
                    <div class="circle-title"></div>
                </div>
                <div class="title-center">D3实例欣赏</div>
            </div>
        </div>
        <div class="second-center">
            <div class="second-one">
                <div id="gear"></div>
            </div>
            <div class="second-one">
                <div id="loadId"></div>
            </div>
            <div class="second-one">
                <canvas id="myCanvas" width="300" height="300"></canvas>
            </div>
            <div class="second-one">
                <canvas id="Canvas" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
    <div class="main-third"></div>
</div>