<div class="main-full scroll">
    <div class="main-first">
        <div class="first-left">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center">图片</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="newView()">>>更多</label>
                </div>
            </div>
            <div class="center-div swipersDiv" style="padding:3px 5px;background-color:lightyellow">
                <swipers class="pic" data="slides"></swipers>
            </div>
        </div>
        <div class="first-center">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center" ng-click="conform()">文章</div>
                    <div class="tab-right">
                    </div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="redirect('blog',3)">>>更多</label>
                </div>
            </div>
            <div class="center-div">
                <news-rolling id='newsId' data='news'></news-rolling>
            </div>
        </div>
        <div class="first-right">
            <div class="top-div">
                <div class="first-tab-left">
                    <div class="tab-left">
                        <div class="circle-div" style="border: 1px solid #3da8fa;background-color:white"></div>
                        <div class="circle-div"></div>
                    </div>
                    <div class="tab-center" ng-click="error()">视频</div>
                    <div class="tab-right"></div>
                </div>
                <div class="first-tab-right">
                    <label class="top-label" style="text-align:right;" ng-click="redirect('move',4)">>>更多</label>
                </div>
            </div>
            <div class="center-div"></div>
        </div>
    </div>
    <div class="main-second"></div>
    <div class="main-third"></div>
</div>